nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.lock
vendor/bin

docs/UML/.vpprefdata/.autoSaveProject

docs/UML/.vpprefdata/.autoSaveProjectInfo

docs/UML/tmp/untitled2.working

*.working

*.ddl

*.ddl

docs/UML/.vpprefdata/.systemproject.vpp

docs/UML/.vpprefdata/.systemproject.vpp.working

docs/UML/.vpprefdata/.systemproject.vpp~6

docs/UML/.vpprefdata/.vp.preference

docs/UML/.vpprefdata/LayoutPerspectiveData/i278sCCGAqAKbwcXC.lod

docs/UML/.vpprefdata/LayoutPerspectiveData/i278sCCGAqAKbwcXMC.lod

docs/UML/.vpprefdata/nicknames/0GRicNKGAqAGZQeL

docs/UML/.vpprefdata/projectsViewInfo/zJgvMNKGAqAGZQN_

docs/UML/.vpprefdata/treestates/C6RicNKGAqAGZQeK

docs/UML/.vpprefdata/treestates/ProjectTreeStateIndexing.xml

docs/UML/Bookmarks.ddl

docs/UML/Bookmarks.vpp~5

docs/UML/Bookmarks.vpp~4
